AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31

Globals:
  Function:
    Runtime: python3.12
    Architectures:
      - arm64

Resources:
  SaludoFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../src
      Handler: app.lambda_handler
